{% extends "base.html.twig" %}


{% block title %}{{ parent() }} &ndash; Add Stock{% endblock %}


{% block header %}
{{ parent() }}
<nav>
<ul>
<li><a href="{{ path("stock_search") }}" class="btn btn-default btn-lg btn-search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
<li><a href="{{ path("stock_panel") }}" class="btn btn-default btn-lg btn-dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
</ul>
</nav>
{% endblock %}


{% block body %}
<form class="stock-form panel panel-default" action="{{ path("stock_add") }}" method="POST">
<div class="panel-body">
{{ form_widget(form) }}
</div>
<div class="panel-footer">
<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Stock</button>
</div>
</form>
{% endblock %}
