<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Stock Panel{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</head>
<body{% if app.request.cookies.get('privacyIsActive') == '1' %} class="privacyIsActive"{% endif %}>

<header class="navbar navbar-expand navbar-dark fixed-top bg-dark ">
    <div class="container-lg d-flex">
        <nav class="flex-grow-1">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a href="{{ path("stock_table") }}" class="nav-link px-2 {% if app.request.attributes.get('_route') == "stock_table" %} active{% endif %}">Tabelle</a></li>
                <li class="nav-item"><a href="{{ path("stock_charts") }}" class="nav-link px-2 {% if app.request.attributes.get('_route') == "stock_charts" %} active{% endif %}">Charts</a></li>
            </ul>
        </nav>

        <div class="align-self-center">
            <a href="{{ path("stock_add") }}" class="btn btn-outline-light me-2"><i class="bi bi-plus-circle"></i></a>
            <button type="button" id="privacyButton" class="btn btn-outline-light me-2"><i class="bi privacyButtonIcon"></i></button>
            <button type="button" id="refreshButton" class="btn btn-warning"{% if app.request.attributes.get('_route') != "stock_table" %} disabled{% endif %}>
                <span class="collapse spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </div>
    </div>
</header>

{% block body %}{% endblock %}

</body>
</html>
